<div class="container">
    <div class="row">
        <div *ngIf="song" class="col-sm-3">
            <img [src]="song['medImage']" class="albumCover" alt="">
            <h4 class="text-center">{{ song['album'] }}</h4>
        </div>

        <div class="col-sm-6">
            <!--Song details-->
            <div *ngIf="song" >
                <h1 class="card-title song-title">
                    {{ song['name'] }}
                    <small class="text-muted">by <span *ngFor="let artist of song['artists']; let isLast=last">{{artist}}{{isLast ? '' : ', '}}</span></small>
                </h1>
            </div>
            <!--Reviews-->
            <div>
                <h3>Reviews</h3>
            </div>
        </div>

        <div class="col-sm-3">

            <div class="card" style="width: 200px;">
                <div class="card-body text-center">
                  <ngb-rating [max]="5" [(rate)]="curRating" [readonly]="false" (hover)="hovered=$event" (leave)="hovered=0" ></ngb-rating>
                  <h3 class="card-title text-center">Rate: {{hovered}}</h3>
                </div>
                <ul class="list-group list-group-flush">
                  <a href="#" data-toggle="modal" data-target="#exampleModal" ><li class="list-group-item text-center">Write a Review</li></a>
                  <a href="#"><li class="list-group-item text-center">Add to a list</li></a>
                  <a href="#"><li class="list-group-item text-center">Share</li></a>
                </ul>
              </div>
            
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Write a Review...</h4><br/>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="container" [formGroup]="myForm" (ngSubmit)="update()">
            <div class="card-body text-center">
                <ngb-rating [max]="5" [(rate)]="curRating" [readonly]="false" (hover)="hovered=$event" (leave)="hovered=0" ></ngb-rating>
                <h3 class="card-title text-center">Rate: {{hovered}}</h3>
            </div>
            <div class="form-group">
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button (click)="submitReview" type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>